<div class="peoples=wrapper">

    <table class="table" >
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    <!-- Катюха памагі, тут крч виводиться той список студентів, і менті треба коли я натискаю на кнопку шоб лише 
    одному вивелось тіпа редагування, а потім ше то якось зберегти 
    list.peoples прописано в edit List
    -->
     <tr ng-repeat="item in peoples track by $index" ng-controller="RowController as row">
        
            <th>
                <p ng-show="!row.showEdit">{{item.firstName}}</p>
                <input type="text" class="form-control" id="usr" ng-show="row.showEdit" data-ng-model="row.name">
            </th>
        
        <th>
            <p ng-show="!row.showEdit">{{item.lastName}}</p>
            <input type="text" class="form-control" id="usr" ng-show="row.showEdit" data-ng-model="row.lastName"" >
        </th>
        <th>
            <p ng-show="!row.showEdit">{{item.email}}</p>
            <input type="email" class="form-control" id="usr" ng-show="row.showEdit" data-ng-model="row.email"">
        </th>


        <th>
            <img src='/img/pencil.png' ng-show="!row.showEdit" ng-click="row.edit(item.firstName, item.lastName, item.email)">
            <img src='/img/save.png'ng-show="row.showEdit"  ng-click="row.save(item._id)">
        </th>
        <th>
            <img src='/img/garbage.png' ng-show="!row.showEdit" ng-click="row.delete(item._id)">
            <img src='/img/icon.png' ng-show="row.showEdit" ng-click="row.edit()">
        </th>
        
        
        
        
    </tr>
    </table>

    <table  class="table">
        <tr>
            <th><input type="text" class="form-control" id="usr" ng-model="firstName" placeholder="Your name"></th>
            <th><input type="text" class="form-control" id="usr" ng-model="lastName" placeholder="Your last name"></th>
            <th>
                <input type="email" class="form-control" name="emailIn" id="usr" ng-model="email" placeholder="Your email">   
            </th>
            <th><button type="button" class="btn btn-danger" ng-click="list.addPeople(firstName, lastName, email)">ADD new people</button></th>
        </tr>
    </table>
</div>